fastapi
uvicorn
pydantic
python-dotenv
requests
pyside6
neo4j
chromadb
sentence-transformers
spacy
redis
openai
markdown-it-py
mdit_py_plugins
pygments
linkify-it-py
langchain
transformers
torch
coloredlogs